/******* START: PARENT CONTAINER *******/
.contact_main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100%;
    padding: 20px 40px 0 80px;
}
/******* END: PARENT CONTAINER *******/

.contact_main > * {
    width: 100%;
}

.contact_main hr {
    border: 1px solid #004DFF;
    background-color: #004DFF;
}

.blue_bullet {
    text-align: center;
    color: #004DFF;
}

.contact_header {
    align-self: end;
    margin-bottom: 5px;
    color: #BBB;
    font-size: 30px;
}

.booking {
    line-height: 1.3;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
    color: #8c959c;
}

.speaking_info {
    margin-bottom: 18px;
    text-align: justify;
}

.speaking_topic {
    margin: 8px 0;
    text-align: center;
}

.direct_messaging {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 30px 0;
}

.direct_messaging > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    min-width: 130px;
    min-height: 130px;
    border-radius: 15px;
    border: 3px solid #004DFF;
    color: #004DFF;
}

.direct_messaging > a:hover {
    background-color: #001b57;
}

.direct_messaging img {
    max-width: 70px;
    margin-bottom: 10px;
}

.contact_main h4 {
    color: #004DFF;
}


/******* START: CONTACT FORM *******/
.contact_form {
    padding: 20px 0 30px 0;
}

.contact_meta {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.contact_data:first-child {
    margin-right: 15px;
}

.contact_data {
    display: flex;
    flex-direction: column;
}

.contact_data > label {
    color: #8C959C;
}

.contact_data :focus {
    outline: none;
}

.contact_data > input {
    margin: 4px 2px 2px 0;
    padding: 2px 6px;
    width: 340px;
    height: 35px;
    color: #BBB;
    font-size: 18px;
    letter-spacing: 1px;
    border: 3px solid #004DFF;
    border-radius: 8px;
    background-color: #001b57
}

.contact_data > textarea {
    margin: 4px 0 12px 0;
    padding: 2px 6px;
    width: 100%;
    height: 120px;
    color: #BBB;
    font-size: 18px;
    letter-spacing: 1px;
    border: 3px solid #004DFF;
    border-radius: 8px;
    background-color: #001b57
}

.form_buttons button {
    margin: 10px 10px 10px 0;
    width: 150px;
    height: 60px;
    border: 3px solid #004DFF;
    border-radius: 8px;
    background-color: #181818;
}

.form_buttons button:hover {
    background-color: #001b57;
}

.form_buttons h4 {
    font-size: 18px;
}
/******* END: CONTACT FORM *******/


@media (max-width: 1024px) {
    .contact_main {
        padding: 20px;
    }
}


@media (max-width: 940px) {
    .contact_meta {
        flex-direction: column;
    }

    .contact_meta > div:first-child {
        margin-bottom: 10px;
    }

    .booking {
        font-size: 14px;
    }
}

@media (max-width: 680px) {
    .resources_main {
        padding: 0 5px 0 5px;
    }

    .direct_messaging {
        flex-direction: column;
    }

    .contact_header h1 {
        font-size: 30px;
    }

    .contact_data > input {
        width: 100%;
        max-width: 300px;
    }

    .contact_data:first-child {
        margin-right: 0;
    }

    .speaking_info {
        font-size: 12px;
    }
    
    .speaking_topic {
        margin: auto 24px;
    }
}

@media (max-width: 480px) {
    .contact_main {
        padding: 0 5px 0 5px;
    }
    
    .contact_header h1 {
        text-align: center;
    }

    .speaking_info {
        letter-spacing: 1.2px;
    }

    .contact_data > input {
        font-size: smaller;
    }

    .contact_data > textarea {
        font-size: medium;
        height: 300px;
    }

    .form_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}