/******* START: PARENT CONTAINER *******/
.home_main {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 120px;
    max-width: 800px;
    width: 100%;
}
/******* END: PARENT CONTAINER *******/


/******* START: INTRO GRID SECTION *******/
.grid_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.grid_intro > * {
    color: #BBB;
}

.grid_intro a {
    color: #E40203;
}

.grid_intro h4 {
    color: #E40203;
}

.grid_intro h1 {
    font-size: 7vh;
}

.grid_intro h3 {
    font-size: 3.5vh;
}

.grid_intro p {
    margin-top: 10px;
    width: 100%;
    max-width: 620px;
    color: #BBB;
}

.contact_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
    min-width: 180px;
    min-height: 60px;
    border: 2px solid #E40203;
    border-radius: 8px;
    color: #E40203;
    font-weight: bold;
}

.contact_button:hover {
    background-color: #3b0a0a;
}
/******* END: INTRO GRID SECTION *******/



/******* START: NAV GRID SECTION *******/
.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 620px;
}

.nav_links > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 130px;
    min-height: 130px;
    border-radius: 15px;
}

.nav_links img {
    max-width: 70px;
    margin-bottom: 10px;
}
/******* END: NAV GRID SECTION *******/


/******* START: STYLING FOR '/about' LINK *******/
.about_div {
    border: 3px solid #FF8B00;
}

.about_div:hover {
    background-color: #3b2101;
}

.about_div h4 {
    color: #FF8B00;
}
/******* END: STYLING FOR '/about' LINK *******/



/******* START: STYLING FOR '/projects' LINK *******/
.projects_div {
    border: 3px solid #FEED00;
}

.projects_div:hover {
    background-color: #454000;
}

.projects_div h4 {
    color: #FEED00;
}
/******* END: STYLING FOR '/projects' LINK *******/



/******* START: STYLING FOR '/resources' LINK *******/
.resources_div {
    border: 3px solid #38A000;
}

.resources_div:hover {
    background-color: #113000;
}

.resources_div h4 {
    color: #38A000;
}
/******* END: STYLING FOR '/resources' LINK *******/



/******* START: STYLING FOR '/contact' LINK *******/
.contact_div {
    border: 3px solid #004DFF;
}

.contact_div:hover {
    background-color: #001b57;
}

.contact_div h4 {
    color: #004DFF;
}
/******* END: STYLING FOR '/contact' LINK *******/

@media (max-width: 1024px) {
    .home_main {
        margin-left: 40px;
    }
}

@media (max-width: 900px) {
    .home_main {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 620px) {
    .grid_intro h1 {
        font-size: 5vh;
    }

    .grid_intro p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .contact_button {
        display: none;
    }

    .nav_links {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nav_links > a {
        margin-bottom: 28px;
    }
}