/******* START: PARENT CONTAINER *******/
.details {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100%;
    padding: 20px 40px 0 80px;
}
/******* END: PARENT CONTAINER *******/

.details > h1 {
    font-size: 45px;
    color: #BBB;
}

.details > hr {
    border: 1px solid #FEED00;
    background-color: #FEED00;
    margin-bottom: 12px;
}

.details_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.project_picture_frame {
    align-self: flex-start;
    flex-grow: 2;                   /* I really don't think I need this line, try deleting it sometime */
    min-width: 200px;
    border: 2px solid #BBB;
    border-radius: 6px;
}

.picture_frame img {
    border-radius: 4px;
}

.details_text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 50%;
    margin-left: 12px;
}

.details_text > * {
    margin-bottom: 12px;
}

.project_details_html h3 {
    font-size: 18px;
    color: #FEED00;
}

.project_details_html p {
    margin-bottom: 8px;
    text-align: justify;
    font-size: 14px;
    color: #8C959C;
}

.details_linkdiv {
    margin: 20px;
    align-self: center;
}

.details_text a {
    align-self: center;
    padding: 8px 6px;
    width: 320px;
    text-align: center;
    letter-spacing: 2px;
    color: #FEED00;
    border: 1px solid #FEED00;
    border-radius: 10px;
}

.details_text a:hover {
    background-color: #454000;
}

@media (max-width: 1024px) {
    .details_content {
        flex-direction: column;
        align-items: center;
    }

    .details_content * {
        align-items: center;
        text-align: center;
    }

    .details_content p {
        font-size: 14px;
    }

    .picture_frame {
        width: 70%;
        align-self: center;
        margin-bottom: 20px;
    }

    .html > p:last-child {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .details {
        padding: 0;
    }

    .details_text {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        max-width: 100%;
    }

    .details_linkdiv {
        font-size: 13px;
    }
}

@media (max-width: 620px) {
    .details_linkdiv {
        font-size: 12px;
    }

    .details > h1 {
        align-self: center;
        font-size: 28px;
    }
}

@media (max-width: 370px) {
    .details_linkdiv {
        font-size: 10px;
    }
}