/******* START: PARENT CONTAINER *******/
.resources_main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100%;
    padding: 20px 40px 0 80px;
}
/******* END: PARENT CONTAINER *******/

.resources_main {
    font-size: 30px;
    color: #BBB;
}

.resources_main hr {
    margin-bottom: 12px;
    border: 1px solid #38A000;
    background-color: #38A000;
}

.resources_content > p {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 680px) {
    .resources_main {
        padding: 20px;
    }

    .resources_content > p {
        font-size: 16px;
    }
}

@media (max-width: 580px) {
    .resources_main {
        padding: 0 5px 0 5px;
    }

    .resources_main h1 {
        font-size: 30px;
        text-align: center;
    }

    .resources_content > p {
        font-size: 14px;
    }
}