/******* START: PARENT CONTAINER *******/
.resource_subgroup {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100%;
    padding: 20px 40px 0 80px;
}
/******* END: PARENT CONTAINER *******/

.resource_subgroup a {
    color: #38A000;
}

.resource_subgroup_header > h1 {
    font-size: 45px;
    color: #BBB;
}

.resource_subgroup_header > hr {
    border: 1px solid #38A000;
    background-color: #38A000;
    margin-bottom: 20px;
}

.resource_article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.resource_article:hover .green_line_left {
    background-color: #38A000;
}

.green_line_left {
    min-width: 3px;
    margin-right: 20px;
}

.resource_article_content {
    display: flex;
    flex-direction: column;
}

.resource_article_content h2 {
    margin-bottom: 10px;
    color: #BBB;
}

.resource_article_details {
    display: flex;
    flex-direction: row;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #8C959C;
}

.resource_article_text {
    display: flex;
    flex-direction: column;
}

.resource_linkdiv {
    margin-top: 26px;
    align-self: center;
}

.resource_external_hyperlink {
    align-self: center;
    padding: 8px 12px;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #38A000;
    border-radius: 10px;
}

.resource_external_hyperlink:hover {
    background-color: #113000;
}

.resource_picture_frame {
    align-self: flex-start;
    margin-right: 20px;
    min-width: 200px;
    max-width: 200px;
    border: 2px solid #BBB;
    border-radius: 6px;
}

@media (max-width: 1048px) {
    .resource_article {
        margin-bottom: 80px;
    }

    .resource_subgroup {
        padding-left: 40px;
    }

    .resource_subgroup_header > h1 {
        font-size: 35px;
    }
    
    .resource_article {
        flex-direction: column;
    }

    .resource_article_content > * {
        text-align: center;
    }
    
    .green_line_left {
        display: none;
    }

    .resource_picture_frame {
        align-self: center;
        margin-right: 0;
        margin-bottom: 8px;
    }

    .resource_article_text {
        font-size: small;
    }
}

@media (max-width: 1000px) {
    .resource_article_details {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .resource_subgroup {
        padding-left: 20px;
    }

    .resource_subgroup_header > h1 {
        font-size: 30px;
    }
}

@media (max-width: 620px) {
    .resource_subgroup {
        padding: 0px;
    }

    .resource_subgroup_header > h1 {
        font-size: 28px;
    }

    .resource_article_text {
        font-size: 12px;
    }
}